// // import bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap.scss';
// card
.gallery__card {
    width: 20vw;
    height: 15vh;
    flex-direction: row-reverse;
    // images of pokemon + pokeball
    .gallery__card__images {
        width: 7vw;
        img {
            width: inherit;
            z-index: 1;
            position: absolute;
        }
    
        .gallery__card__images__pokeball {
            z-index: 0;
            opacity: 30%;
        }
    }
    // id numbers + pokemon's name + types
    .gallery__card__body {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        .gallery__card__body__id {
            font-weight: 600;
            max-height: 10vh;
            margin-top: 1vh;
            margin-bottom: -1vh;
        }

        .gallery__card__body__name {
            font-size: 1.75rem;
            color: #E5E5E5;
        }

        .gallery__card__body__types {
            display: flex;
            justify-content: space-evenly;

            .badge {
                min-width: 73px;
            }
        }
    }
}