.pkmn {
    display: flex;
    flex-direction: column;
    align-items: center;

    .pkmn__header {
        display: flex;
        justify-content: center;
        width: 100%;
        gap: 25px;

        .pkmn__header__images {
            width: 192px;
            height: 192px;
            display: flex;

            .pkmn__header__images__sprite {
                width: inherit;
                z-index: 1;
                position: absolute;
            }

            .pkmn__header__images__pokeball {
                z-index: 0;
                opacity: 30%;
            }
        }

        .pkmn__header__infos {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            .pkmn__header__infos__number__star {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                max-height: 10vh;
                margin-top: 1vh;
                margin-bottom: -3.5vh;
                z-index: 1;

                .pkmn__header__infos__number__star__numb {
                    font-weight: 600;
                    margin: 0;
                    width: 10vw;
                    font-size: 1.25rem;
                }

                .pkmn__header__infos__number__star__button {
                    padding: 0;
                    border: 0;
                }
            }

            .pkmn__header__infos__name {
                font-size: 2.75vw;
                color: #E5E5E5;
            }

            .pkmn__header__infos__types {
                display: flex;
                justify-content: space-evenly;
                width: 100%;
                gap: 5px;
                margin-top: -2vh;
                
                .pkmn__header__infos__types__badge {
                    width: 5vw;
                    font-size: small;
                }
            }
        }

        .pkmn__header__buttonmenu {
            position: fixed;
            left: 10vw;
            top: 35vh;
        }
    }

    .nav-tabs {
        margin-bottom: 0 !important;
        padding-bottom: 1rem;
        border: 0;
        border-top-left-radius: var(--bs-nav-tabs-border-radius);
        border-top-right-radius: var(--bs-nav-tabs-border-radius);
        
        .nav-link {
            border-radius: var(--bs-nav-tabs-border-radius);
        }

        button {
            color: #E5E5E5;
        }
    }
    
    .pkmn__tab {
        border-radius: 1rem;

        .pkmn__tab__section {
            width: 42vw;
            padding: 1.5rem;
    
            td {
                width: 20vw;
            }
        }

        .pkmn__stats {

            .pkmn__stats__bars {
                vertical-align: middle;

                .pkmn__stats__bars__bar {
                    height: 5px;
                }
            }
        }

        .pkmn__gallery {

            .pkmn__gallery__item {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                margin-bottom: 80px;

                img {
                    width: 256px;
                    height: 256px;
                }

                .pkmn__gallery__item__defaut {
                    width: 128px;
                    height: 128px;
                }
            }

            .gallery__item__grid {
                display: grid;
                grid-template-columns: repeat(2, 2fr);
                justify-items: center;
            }
        }
    }
}