.normal {
    background-color: #969896;
}

.normal-light {
    background-color: #B5B6B5;
}

.fighting {
    background-color: #f17b00;
}

.fighting-light {
    background-color:  #F5A24C;
}

.flying { 
    background-color: #84afee;
}

.flying-light {
    background-color: #A8C7F3;
}

.poison {
    background-color: #8730c7;
}

.poison-light {
    background-color: #AB6ED7;
}

.ground {
    background-color: #814b1e;
}

.ground-light {
    background-color: #A68161;
}

.rock {
    background-color: #a5a276;
}

.rock-light {
    background-color: #C0BD9F;
}

.bug  {
    background-color: #869b06;
}

.bug-light {
    background-color: #AAB950;
}

.ghost {
    background-color: #643968;
}

.ghost-light {
    background-color: #927495;
}

.steel {
    background-color: #6397b1;
}

.steel-light {
    background-color: #91B6C8;
}

.fire {
    background-color: #d52b27;
}

.fire-light {
    background-color: #E16A67;
}

.water {
    background-color: #466fef;
}

.water-light {
    background-color: #7D9AF3;
}

.grass {
    background-color: #449a1d;
}

.grass-light {
    background-color: #7CB860;
}

.electric{
    background-color: #efbd00;
}

.electric-light {
    background-color: #F3D04C;
}

.psychic {
    background-color: #e03c71;
}

.psychic-light {
    background-color: #E9769B;
}

.ice {
    background-color: #60d1ff;
}

.ice-light {
    background-color: #8FDEFF;
}

.dragon {
    background-color: #564ee0;
}

.dragon-light {
    background-color: #8883E9;
}

.dark {
    background-color: #463937;
}

.dark-light {
    background-color: #7D7473;
}

.fairy {
    background-color: #e660ef;
}

.fairy-light {
    background-color: #ED8FF3;
}

.unknown {
    background-color: #68a090;
}

.unknown-light {
    background-color: #95BCB1;
}