.normal {
  background-color: #969896 !important;
}

.normal-light {
  background-color: #b5b6b5;
}

.fighting {
  background-color: #f17b00 !important;
}

.fighting-light {
  background-color: #f5a24c;
}

.flying {
  background-color: #84afee !important;
}

.flying-light {
  background-color: #a8c7f3;
}

.poison {
  background-color: #8730c7 !important;
}

.poison-light {
  background-color: #ab6ed7;
}

.ground {
  background-color: #814b1e !important;
}

.ground-light {
  background-color: #a68161;
}

.rock {
  background-color: #a5a276 !important;
}

.rock-light {
  background-color: #c0bd9f;
}

.bug {
  background-color: #869b06 !important;
}

.bug-light {
  background-color: #aab950;
}

.ghost {
  background-color: #643968 !important;
}

.ghost-light {
  background-color: #927495;
}

.steel {
  background-color: #6397b1 !important;
}

.steel-light {
  background-color: #91b6c8;
}

.fire {
  background-color: #d52b27 !important;
}

.fire-light {
  background-color: #e16a67;
}

.water {
  background-color: #466fef !important;
}

.water-light {
  background-color: #7d9af3;
}

.grass {
  background-color: #449a1d !important;
}

.grass-light {
  background-color: #7cb860;
}

.electric {
  background-color: #efbd00 !important;
}

.electric-light {
  background-color: #f3d04c;
}

.psychic {
  background-color: #e03c71 !important;
}

.psychic-light {
  background-color: #e9769b;
}

.ice {
  background-color: #60d1ff !important;
}

.ice-light {
  background-color: #8fdeff;
}

.dragon {
  background-color: #564ee0 !important;
}

.dragon-light {
  background-color: #8883e9;
}

.dark {
  background-color: #463937 !important;
}

.dark-light {
  background-color: #7d7473;
}

.fairy {
  background-color: #e660ef !important;
}

.fairy-light {
  background-color: #ed8ff3;
}

.unknown {
  background-color: #68a090 !important;
}

.unknown-light {
  background-color: #95bcb1;
}
